<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">หน้าหลัก</a></li>
            <li class="nav-item"><a href="/horoscope" class="nav-link px-2 text-body-secondary">ดูดวง</a></li>
            <li class="nav-item"><a href="/investing" class="nav-link px-2 text-body-secondary">การลงทุน</a></li>
            <li class="nav-item"><a href="/technology" class="nav-link px-2 text-body-secondary">เทคโนโลยี</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">เกี่ยวกับเรา</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2025 {{ site.title }} | ทำด้วยใจ ❤</p>
    </footer>
</div>