<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link {{ page.navIndex }}">หน้าหลัก</a></li>
            <li class="nav-item"><a href="/horoscope" class="nav-link {{ page.navHoroscope }}">ดูดวง</a></li>
            <li class="nav-item"><a href="/investing" class="nav-link {{ page.navInvesting }}">การลงทุน</a></li>
            <li class="nav-item"><a href="/technology" class="nav-link {{ page.navTechnology }}">เทคโนโลยี</a></li>
            <li class="nav-item"><a href="/about" class="nav-link {{ page.navAbout }}">เกี่ยวกับเรา</a></li>
            <div class="d-flex m-1">
                <input type="text" class="form-control me-2" style="border-radius:15px;" id="search-term" placeholder="ค้นหา...">
                <button class="btn btn-primary" id="search">ค้นหา</button>
            </div>
        </ul>
    </header>
</div>