<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FinTechXHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {{ page.navIndex }}" href="/">หน้าหลัก</a>
                <a href="/horoscope" class="nav-link {{ page.navHoroscope }}">ดูดวง</a>
                <a href="/investing" class="nav-link {{ page.navInvesting }}">การลงทุน</a>
                <a href="/technology" class="nav-link {{ page.navTechnology }}">เทคโนโลยี</a>
                <a href="/about" class="nav-link {{ page.navAbout }}">เกี่ยวกับเรา</a>
                <a href="/contact" class="nav-link {{ page.navContact }}">ติดต่อเรา</a>
            </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="search-term" placeholder="ค้นหา" aria-label="Search">
            <button class="btn btn-outline-success" type="button" id="search">ค้นหา</button>
        </form>
    </div>
</nav>