<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
            <img style="display:inline-flex;width:70px;" src="/public/image/my-logo-pound-dev.png" alt="My Logo Pound-DEV">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link page-home" aria-current="page" href="/index.html?page=home">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-myproject" href="/index.html?page=myproject">ผลงาน</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link page-tiktok-ads dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        TikTok Ads
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="page-tiktok-ads"><a class="dropdown-item" href="/index.html?page=tiktok-ads&user=n.pound">@n.pound</a></li>
                        <li class="page-tiktok-ads"><a class="dropdown-item" href="/index.html?page=tiktok-ads&user=tan_nattiya.s026">@tan_nattiya.s026</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>