html,
body,
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    #cesiumContainer {
  height: 100vh;
    }
}

.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer,
.cesium-viewer-bottom,
.cesium-viewer-toolbar {
    display: none !important;
}

#layerControls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 999;
    border-radius: 8px;
    font-family: sans-serif;
}

#layerControls label {
    display: block;
    margin-bottom: 5px;
}