<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>บทความ</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-10" id="article-content"></div>
    </div>
</div>
<script type="module">
    $(document).ready( async function(){
        const articleList = [
            {
                title:"สเปรย์กำจัดขน",
                image:"/public/image/my-logo-pound-dev.png",
                pages:"tiktok-video",
                user:"tiichas",
                vedio:"7353477883920190728",
                descript:"ลองเข้ามาดูสินค้า [มี qr code] Tiny Me ไทนี่มี มูสขจัดขน ครีมขน อ่อนโยน มูสโฟม รักแร้ ขาหนีบ จุดซ่อนเร้น ถนอมผิว เนียนนุ่ม 100ml ขายในราคา ฿390 - ฿1,650 ซื้อได้ในแอป Shopee ตอนนี้เลย! <a href='https://s.shopee.co.th/1qGZIw2Gui'>พิกัดสินค้า</a>"
            },
            {
                title:"หน่วยประมวลผลกลาง (Central Processing Unit หรือ CPU)",
                image:"/public/image/my-logo-pound-dev.png",
                pages:"article-2"
            },
            {
                title: "คาถาชินบัญชร สมเด็จพระพุฒาจารย์ โต พรหมรังสี",
                image: "/public/image/my-logo-pound-dev.png",
                pages: "article-1",
            }
        ];
        await $('meta[name="description"]').attr('content','บทความ');
        await $('meta[name="keywords"]').attr('content','บทความ,Pound-DEV,Developer,Programer');
        await $('title').text('บทความ - Pound-DEV');
        await $('.page-article').addClass('active');
        await $.each(articleList, async (k,v) => {
            await $('#article-content').append(`
                <div class="d-flex article-item" data-href="/index.html?page=${v.pages}&tiktokUser=${v.user}&tiktokVideo=${v.vedio}" style="cursor:pointer;margin-bottom:10px;">
                    <div class="flex-shrink-0">
                        <img src="${v.image}" alt="Logo Pound-DEV" style="width:150px;height:100px;object-fit:cover;border-radius:15px;filter:drop-shadow(0px 0px 1px black);">
                    </div>
                    <div class="flex-grow-1 ms-3">${v.title}${v.descript!=undefined?'<br>'+v.descript:''}</div>
                </div>
            `);
        });
        await $('.article-item').on('click',function(){
            window.location.href = $(this).data('href');
        });
    });
</script>