<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>บทความ</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-10" id="article-content"></div>
    </div>
</div>
<script type="module">
    $(document).ready( async function(){
        const articleList = [
            {
                title:"หน่วยประมวลผลกลาง (Central Processing Unit หรือ CPU)",
                image:"/public/image/my-logo-pound-dev.png",
                pages:"article-2"
            },
            {
                title: "คาถาชินบัญชร สมเด็จพระพุฒาจารย์ โต พรหมรังสี",
                image: "/public/image/my-logo-pound-dev.png",
                pages: "article-1",
            }
        ];
        await $('meta[name="description"]').attr('content','บทความ');
        await $('meta[name="keywords"]').attr('content','บทความ,Pound-DEV,Developer,Programer');
        await $('title').text('บทความ - Pound-DEV');
        await $('.page-article').addClass('active');
        await $.each(articleList, async (k,v) => {
            await $('#article-content').append(`
                <div class="d-flex article-item" data-href="/index.html?page=${v.pages}&path=article" style="cursor:pointer;">
                    <div class="flex-shrink-0">
                        <img src="${v.image}" alt="Logo Pound-DEV" style="width:150px;height:100px;object-fit:cover;">
                    </div>
                    <div class="flex-grow-1 ms-3">${v.title}</div>
                </div>
            `);
        });
        await $('.article-item').on('click',function(){
            window.location.href = $(this).data('href');
        });
    });
</script>