<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>บทความ</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-10" id="article-content"></div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','บทความ');
        $('meta[name="keywords"]').attr('content','บทความ,Pound-DEV,Developer,Programer');
        $('title').text('บทความ - Pound-DEV');
        $('.page-article').addClass('active');
        $('#article-content').append(`
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src="/public/image/my-logo-pound-dev.png" alt="Logo Pound-DEV" style="width:150px;height:100px;object-fit:cover;">
                </div>
                <div class="flex-grow-1 ms-3">
                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                </div>
            </div>
        `);
    });
</script>