<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>หน้าหลัก</h1>
            <h2>ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/public/image/my-logo-pound-dev.png" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">HTML & JavaScript - QR Code Generator</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา HTML, JavaScript เพื่อสร้าง QR Code</p>
                    <a href="/index.html?page=generate-qrcode&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV');
        $('meta[name="keywords"]').attr('content','Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
    });
</script>