<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>หน้าหลัก</h1>
            <h2>ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/my-logo-pound-dev.png" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">คำนวณดัชนีมวลกาย (BMI)</h5>
                    <p class="card-text">Body Mass Index (BMI)</p>
                    <a href="/index.html?page=bmi&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/my-logo-pound-dev.png" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">HTML & JavaScript - QR Code Generator</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา HTML, JavaScript เพื่อสร้าง QR Code</p>
                    <a href="/index.html?page=generate-qrcode&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/radar.gif" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">HTML & JavaScript - เรดาร์ฝนหนองจอก</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา HTML, JavaScript เพื่อเรียกข้อมูลเรดาร์ฝน</p>
                    <a href="/index.html?page=radar-rain&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/OpenLayers.png" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">JavaScript - Openlayer</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา JavaScript เพื่อพัฒนาแผนที่</p>
                    <a href="/index.html?page=openlayer&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/cat.jpg" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">สุ่มภาพแมวด้วย JavaScript API</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา JavaScript สุ่มภาพแมว</p>
                    <a href="/index.html?page=cat-random&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/dog.jpg" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">สุ่มภาพหมาด้วย JavaScript API</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา JavaScript สุ่มภาพหมา</p>
                    <a href="/index.html?page=dog-random&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="margin-bottom:10px;width:18rem;width:100%;">
                <img style="height:150px;object-fit:cover;" src="/public/image/my-logo-pound-dev.png" class="card-img-top" alt="my-logo-pound-dev">
                <div class="card-body">
                    <h5 class="card-title">เครื่องคิดเลข</h5>
                    <p class="card-text">เขียนโปรแกรมภาษา JavaScript เครื่องคิดเลข</p>
                    <a href="/index.html?page=calculator&path=demo-programing" class="btn btn-primary">ไปดูกันเลย</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV');
        $('meta[name="keywords"]').attr('content','Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
    });
</script>