<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>หน้าหลัก</h1>
            <h2>ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV</h2>
        </div>
    </div>
</div>
<script type="module">
    document.querySelector('meta[name="description"]').setAttribute('content','ยินดีต้อนรับเข้าสู่พื้นที่ของ Pound-DEV');
    document.querySelector('meta[name="keywords"]').setAttribute('content','Pound-DEV,Developer,Programer');
    $(document).ready(function(){
        console.log('Home page');
    });
</script>