<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>ผลงานของ Pound-DEV</h1>
            <ul>
                <li><a href="https://amflow.vercel.app" target="_blank">ร้าน A'm flow coffee</a></li>
                <li><a href="/index.html?page=tonnumbook">ระบบแสดงสินค้าร้านต้นน้ำบุ๊คเซ็นเตอร์</a></li>
                <li><a href="https://www.pinsu.co.th" target="_blank">เว็บไซต์บริษัท พินซู จำกัด</a></li>
                <li><a href="https://chalongconcrete.com" target="_blank">เว็บไซต์บริษัท ฉลองคอนกรีต 1999 จำกัด</a></li>
                <li><a href="https://marinemap.dmcr.go.th" target="_blank">ระบบแผนที่ทรัพยากรทางทะเลและชายฝั่ง</a></li>
                <li><a href="https://coastalaqua.fisheries.go.th/meetingroom" target="_blank">ระบบจองห้องประชุม กองเพราะเลี้ยงสัตว์น้ำชายฝั่ง</a></li>
                <li><a href="https://coastalaqua.fisheries.go.th/cleanhatcherys" target="_blank">ระบบ White list hatchery กองเพราะเลี้ยงสัตว์น้ำชายฝั่ง</a></li>
                <li><a href="https://coastalaqua.fisheries.go.th/research" target="_blank">ระบบฐานข้อมูลงานวิจัย กองเพราะเลี้ยงสัตว์น้ำชายฝั่ง</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','ผลงานของ Pound-DEV');
        $('meta[name="keywords"]').attr('content','ผลงานของ Pound-DEV,Pound-DEV,Developer,Programer');
        $('title').text('ผลงานของ Pound-DEV');
        $('.page-myproject').addClass('active');
    });
</script>