<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="article-content-header">บทความ</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-10" id="article-content-body"></div>
    </div>
</div>
<script type="module">
    $(document).ready( async function(){
        await $('meta[name="description"]').attr('content','บทความ');
        await $('meta[name="keywords"]').attr('content','บทความ,Pound-DEV,Developer,Programer');
        await $('title').text('บทความ - Pound-DEV');
        await $('.page-article').addClass('active');
    });
</script>