<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="title">ร้านต้นน้ำบุ๊คเซ็นเตอร์</h1>
        </div>
        <div class="col-md-12">
            <blockquote 
                class="tiktok-embed" 
                cite="https://www.tiktok.com/@tan_nattiya.s026" 
                data-unique-id="tan_nattiya.s026" 
                data-embed-type="creator" 
                style="max-width: 780px; min-width: 288px;">
                <section>
                    <a target="_blank" href="https://www.tiktok.com/@tan_nattiya.s026?refer=creator_embed">@tan_nattiya.s026</a>
                </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('.page-tiktok-ads').addClass('active');
    });
</script>