<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="title">ร้านต้นน้ำบุ๊คเซ็นเตอร์</h1>
        </div>
        <div class="col-md-12">
            <blockquote 
                class="tiktok-embed" 
                cite=""
                data-video-id="" 
                style="max-width: 605px;min-width: 325px;"></blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('.page-tiktok-ads').addClass('active');
    });
</script>