<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-responsive" style="width:200px;" src="/public//image/logo-tonnumbook.jpg" alt="ร้านต้นน้ำบุ๊คเซ็นเตอร์">
            <h1>ร้านต้นน้ำบุ๊คเซ็นเตอร์</h1>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','ร้านต้นน้ำบุ๊คเซ็นเตอร์');
        $('meta[name="keywords"]').attr('content','ร้านต้นน้ำบุ๊คเซ็นเตอร์,Pound-DEV,Developer,Programer');
        $('title').text('ร้านต้นน้ำบุ๊คเซ็นเตอร์ - Pound-DEV');
        $('.page-tonnumbook').addClass('active');
    });
</script>