<style>
    .buttons button {
        margin:5px;
        width:45px;
        height:45px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Calculator</h1>
        </div>
        <div class="col-md-12 text-center">
            <div class="calculator text-center">
                <input type="text" id="display" readonly class="form-control input-lg">
                <div class="buttons">
                    <button class="btn btn-dark" onclick="clearDisplay()">C</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('/')">/</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('*')">*</button>
                    <br>
                    <button class="btn btn-dark" onclick="appendToDisplay('7')">7</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('8')">8</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('9')">9</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('-')">-</button>
                    <br>
                    <button class="btn btn-dark" onclick="appendToDisplay('4')">4</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('5')">5</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('6')">6</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('+')">+</button>
                    <br>
                    <button class="btn btn-dark" onclick="appendToDisplay('1')">1</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('2')">2</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('3')">3</button>
                    <button class="btn btn-dark" onclick="calculate()">=</button>
                    <br>
                    <button class="btn btn-dark" onclick="appendToDisplay('0')">0</button>
                    <button class="btn btn-dark" onclick="appendToDisplay('.')">.</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let display = document.getElementById('display');
    function appendToDisplay(value) {
        display.value += value;
    }
    function clearDisplay() {
        display.value = '';
    }
    function calculate() {
        try {
            display.value = eval(display.value);
        } catch (error) {
            display.value = 'Error';
        }
    }

</script>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','Calculator - Pound-DEV');
        $('meta[name="keywords"]').attr('content','Calculator,Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
        $('title').text('Calculator - Pound-DEV');
    });
</script>