<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>QR Code Generator</h1>
            <input class="form-control" type="text" id="text" placeholder="Enter text or URL">
            <button class="btn btn-primary mt-2" id="btn-generate">Generate QR Code</button>
            <center><canvas id="qrcode" class="m-2" style="display:flex;"></canvas></center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pre id="example-code"><code>&lt;!DOCTYPE html&gt;
                &lt;html lang=&quot;en&quot;&gt;
                &lt;head&gt;
                &lt;meta charset=&quot;UTF-8&quot;&gt;
                &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
                &lt;title&gt;QR Code Generator&lt;/title&gt;
                &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js&quot;&gt;&lt;/script&gt;
                &lt;style&gt;
                    #qrcode {
                        margin: 20px auto;
                        width: 200px;
                        height: 200px;
                    }
                &lt;/style&gt;
                &lt;/head&gt;
                &lt;body&gt;
                &lt;h1&gt;QR Code Generator&lt;/h1&gt;
                &lt;input type=&quot;text&quot; id=&quot;text&quot; placeholder=&quot;Enter text or URL&quot;&gt;
                &lt;button onclick=&quot;generateQR()&quot;&gt;Generate QR Code&lt;/button&gt;
                &lt;canvas id=&quot;qrcode&quot;&gt;&lt;/canvas&gt;
                
                &lt;script&gt;
                function generateQR() {
                    var text = document.getElementById(&quot;text&quot;).value;
                    var qr = new QRious({
                        element: document.getElementById(&quot;qrcode&quot;),
                        value: text,
                        size: 200,
                    });
                }
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;</code></pre>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','QR Code Generator - Pound-DEV');
        $('meta[name="keywords"]').attr('content','QR Code Generator,Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
        $('title').text('QR Code Generator - Pound-DEV');
        $('#btn-generate').on('click',function(){
            const text = document.getElementById("text").value;
            const qr = new QRious({
                element: document.getElementById("qrcode"),
                value: text,
                size: 200,
            });
        });
    });
</script>