<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<div id="map" class="map" style="width:100%;height:100vh;position:fixed;top:62px"></div>
<div style="position:fixed;top:80px;right:20px;">
    <button type="button" class="btn btn-info">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div style="min-width:350px;max-width:100%;height:calc(100vh - 80px);background:#ffffff;border-radius:15px;filter:drop-shadow(1px 1px 2px black);">
        <p>content</p>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','Openlayer - Pound-DEV');
        $('meta[name="keywords"]').attr('content','Openlayer,Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
        $('title').text('Openlayer - Pound-DEV');
        setTimeout(() => {
            const map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.XYZ({
                            url:"https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}"
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([100.473686, 11.635737]),
                    zoom: 5
                })
            }); 
        }, 1000);
    });
</script>