<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Openlayer</h1>
        </div>
        <div class="col-md-12">
            <div id="map" class="map" style="width:100%;height:calc(100vh - 210px);"></div>
        </div>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','Openlayer - Pound-DEV');
        $('meta[name="keywords"]').attr('content','Openlayer,Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
        $('title').text('Openlayer - Pound-DEV');
        const map = new ol.Map({
            target: 'map',  // The id of the div where the map will be rendered
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()  // Use OpenStreetMap as the base layer
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([100.473686, 11.635737]),  // Center the map at longitude 0, latitude 0
                zoom: 5  // Initial zoom level
            })
        });
    });
</script>