<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<style>
    #menu-right {
        display:none;
    }
    #menu-right.opening {
        display:block;
    }
</style>
<div id="map" class="map" style="width:100%;height:100vh;position:fixed;top:62px"></div>
<div style="position:fixed;top:70px;right:20px;">
    <button id="btn-menu-right" type="button" class="btn btn-info filter-drop" style="float:right;">
        <i class="fa-solid fa-bars" style="color:#ffffff;"></i>
    </button>
    <div id="menu-right" class="filter-drop" style="min-width: 350px;
                max-width: 100%;
                height: calc(100vh - 160px);
                background: #ffffff;
                border-radius: 15px;
                margin-top: 45px;
                padding: 10px;
                position:fixed;
                left:5px;
                right:5px;">
        <p>content</p>
    </div>
</div>
<script type="module">
    $(document).ready(function(){
        $('meta[name="description"]').attr('content','Openlayer - Pound-DEV');
        $('meta[name="keywords"]').attr('content','Openlayer,Pound-DEV,Developer,Programer');
        $('.page-home').addClass('active');
        $('title').text('Openlayer - Pound-DEV');
        $('#btn-menu-right').on('click',function(){
            if ($('#menu-right').hasClass('opening')) {
                $('#menu-right').removeClass('opening');
            } else {
                $('#menu-right').addClass('opening');
            }
        });
        setTimeout(() => {
            const map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.XYZ({
                            url:"https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}"
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([100.473686, 11.635737]),
                    zoom: 5
                })
            }); 
        }, 1000);
    });
</script>