<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="robots" content="index, follow">
    <meta name="google-adsense-account" content="ca-pub-3203802670121740">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <link rel="canonical" href="{{ page.canonical }}" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:url" content="{{ page.urlx }}">
    <meta property="og:type" content="website">

    <!-- Favicons -->
    <link href="/assets/img/logo.png" rel="icon">
    <link href="/assets/img/logo.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SST527V99N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-SST527V99N');
    </script>
    <!-- Google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3203802670121740" crossorigin="anonymous"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- โหลดไลบรารี marked.js -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        async function loadMarkdown(md) {
            try {
                const response = await fetch(`https://raw.githubusercontent.com/kris-p19/cdncontent/refs/heads/main/${md}.md`);
                const text = await response.text();
                marked.setOptions({
                    gfm: true,          // รองรับ GitHub Flavored Markdown
                    breaks: true,       // แปลง newline เป็น <br>
                    headerIds: true,    // สร้าง id ให้ heading
                    mangle: false,      // ป้องกันการเปลี่ยนชื่อ anchor
                    sanitize: false     // ❌ ต้องปิด sanitize เพื่อให้ HTML render ได้
                });
                document.getElementById("contentmd").innerHTML = marked.parse(text);
                const scripts = document.getElementById("contentmd").querySelectorAll("script");
                scripts.forEach(oldScript => {
                    const newScript = document.createElement("script");
                    if (oldScript.src) {
                        newScript.src = oldScript.src; // ถ้ามี src
                    } else {
                        newScript.textContent = oldScript.textContent; // inline script
                    }
                    document.body.appendChild(newScript); // append ให้ browser execute
                });
            } catch (error) {
                document.getElementById("contentmd").innerHTML = "<p style='color:red;'>❌ ไม่สามารถโหลดไฟล์ได้</p>";
                console.error("Error loading markdown:", error);
            }
        }
    </script>
</head>

<body class="starter-page-page">
    <div style="position:relative;z-index:5000;text-align:center;margin:0;width:100%;">
        <ins class="adsbygoogle" style="display:inline-block;width:100% !important;height:90px" data-ad-client="ca-pub-3203802670121740" data-ad-slot="4348689913"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <header id="header" class="header position-relative">
        <div class="container-fluid container-xl position-relative">

            <div class="top-row d-flex align-items-center justify-content-between">
                <a href="/" class="logo d-flex align-items-end">
                    <!-- <img src="/assets/img/logo.webp" alt=""> -->
                    <h1 class="sitename">{{ site.title }}</h1><span>.</span>
                </a>

                <div class="d-flex align-items-center">
                    <div class="social-links">
                        <a target="_blank" rel="noopener noreferrer" href="{{ site.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>

                    <form class="search-form ms-4">
                        <input type="text" placeholder="Search..." class="form-control">
                        <button type="submit" class="btn"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>

        </div>

        <div class="nav-wrap">
            <div class="container d-flex justify-content-center position-relative">
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <!-- <li><a href="category.html">Category</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                        <li><a href="author-profile.html">Author Profile</a></li> -->
                        <li class="dropdown">
                            <a href="#">
                                <span>Converter</span> 
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li><a href="/converter/base64/text-to-base64">Text to Base64</a></li>
                                <li><a href="/converter/base64/base64-to-text">Base64 to Text</a></li>
                                <li><a href="/converter/base64/file-to-base64">File to Base64</a></li>
                                <li><a href="/converter/base64/base64-to-file">Base64 to File</a></li>
                                <li><a href="/converter/minify/javascript-to-minify">JavaScript to Minify</a></li>
                                <li><a href="/converter/document/pdf-to-docx">PDF to Word</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">
                                <span>E-book</span> 
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li><a href="/electronic-book/moph/30082568001">MOPH (บทคัดย่อผลงานการจัดการเรียนการสอนและการพัฒนางานประจำปี 2568)</a></li>
                                <li><a href="/electronic-book/moph/30082568002">MOPH (บทคัดย่อผลงานวิจัยและนวัตกรรมประจำปี 2568)</a></li>
                                <li><a href="/electronic-book/moph/30082568003">MOPH (สูจิบัตรประจำปี 2568)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">
                                <span>Interesting</span> 
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li><a href="/investing">Investing</a></li>
                                <li><a href="/technology">Technology</a></li>
                                <li><a href="/horoscope">Horoscope</a></li>
                                <li><a href="/lifestyle">Life Style</a></li>
                                <li><a href="/thailand-news">Thailand News</a></li>
                                <li><a href="/thailand-news/feed">Feed News</a></li>
                                <!-- <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Dropdown 1</a></li>
                                        <li><a href="#">Deep Dropdown 2</a></li>
                                        <li><a href="#">Deep Dropdown 3</a></li>
                                        <li><a href="#">Deep Dropdown 4</a></li>
                                        <li><a href="#">Deep Dropdown 5</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">
                                <span>Other</span> 
                                <i class="bi bi-chevron-down toggle-dropdown"></i>
                            </a>
                            <ul>
                                <li><a href="/tools/my-connection">My Connection</a></li>
                                <li><a href="/tools/เครื่องมือเข้ารหัสพื้นฐาน">ระบบเข้ารหัสพื้นฐาน</a></li>
                                <li><a href="/tools/ระบบสร้างรหัสผ่าน">ระบบสร้างรหัสผ่าน</a></li>
                                <li><a href="/tools/ระบบสร้างคิวอาร์โค้ด">ระบบสร้างคิวอาร์โค้ด</a></li>
                                <li><a href="/lottory/สุ่มเลข">ระบบสุ่มเลข</a></li>
                                <li><a href="/technology/kbj-capital-register">KBJ Capital Register</a></li>
                                <li><a href="/data/flood68-disaster-go-th">Flood 68 Disaster GO TH</a></li>
                                <li><a href="/data/check">รวมรวบระบบบริการตรวจสอบข้อมูลภาครัฐและเอกชน</a></li>
                                <li><a href="/download/font-all-th-sarabun">ดาวน์โหลดฟอนต์ TH Sarabun (All)</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center" style="padding:5px;">
                    <ins class="adsbygoogle"
                        style="display:block;width:100%;"
                        data-ad-client="ca-pub-3203802670121740"
                        data-ad-slot="6303144309"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>
        </div>

    </header>

    <main class="main">

        <!-- Page Title -->
        <div class="page-title">
            <div class="breadcrumbs">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i> Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Category</a></li> -->
                        <li class="breadcrumb-item active current">{{ page.title }}</li>
                    </ol>
                </nav>
            </div>

            <!-- <div class="title-wrapper">
                <h1>{{ page.title }}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
            </div> -->
        </div><!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section pt-1">

            <!-- Section Title -->
            <!-- <div class="container section-title" data-aos="fade-up">
                <h2>Starter Section</h2>
                <div><span>Check Our</span> <span class="description-title">Starter Section</span></div>
            </div> -->
            <!-- End Section Title -->

            <div class="container" data-aos="fade-up" style="max-width: 100%;">
                {{ page.content }}
            </div>

        </section><!-- /Starter Section Section -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center" style="padding:5px;">
                    <!-- ลอย -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-3203802670121740"
                        data-ad-slot="7257891180"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>
        </div>

    </main>

    <footer id="footer" class="footer">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="/" class="logo d-flex align-items-center">
                        <span class="sitename">{{ site.title }}</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <!-- <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>info@example.com</span></p> -->
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="{{ site.facebook }}"><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/thailand-news/feed">Feed</a></li>
                        <!-- <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Product Management</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Hic solutasetp</h4>
                    <ul>
                        <li><a href="#">Molestiae accusamus iure</a></li>
                        <li><a href="#">Excepturi dignissimos</a></li>
                        <li><a href="#">Suscipit distinctio</a></li>
                        <li><a href="#">Dilecta</a></li>
                        <li><a href="#">Sit quas consectetur</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Nobis illum</h4>
                    <ul>
                        <li><a href="#">Ipsam</a></li>
                        <li><a href="#">Laudantium dolorum</a></li>
                        <li><a href="#">Dinera</a></li>
                        <li><a href="#">Trodelas</a></li>
                        <li><a href="#">Flexo</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">{{ site.title }}</strong> <span>All Rights Reserved</span>
            </p>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // (adsbygoogle = window.adsbygoogle || []).push({});
            var ads = document.querySelectorAll('ins.adsbygoogle:not([data-adsbygoogle-status])');
            ads.forEach(function (ad) {
                (adsbygoogle = window.adsbygoogle || []).push({});
            });
        });
    </script>      
</body>

</html>
