<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon-16.png">
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>